:root{
    --azul-dnc:#0C70F2;
    --preto-dnc:#303030;
    --cinza-hover: #C9C9C9;

    --fonte-padrao:'Inter';
}
    
    
    
    body{
        margin: 0px; /*Margem Externa */
        padding: 0px; /*Margem Interna*/


        background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%), #303030;
        background-repeat: no-repeat;
    }
    #principal{
        border: 1px solid black;
        width: 99.8%;
        height: 100px;

        background-color: var(--preto-dnc);

        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #BABABA;

    }

    #principal div a{
        font-size: 25px;
        font-weight: 600;
        color: #FFFFFF;
        text-decoration: none;
        font-family: var(--fonte-padrao);
    }

    #principal div a:hover { /*"hover" é utilizado para trazer animação*/
        color: #CCCCCC;
    }

    #menu {
        display: flex;
        width: 45%;
        justify-content: space-around; /*Permita que distribua de maneira igualitáriamente*/
        align-items: center;
        font-size: 25px;

        margin-left: 5%;
    }

    #principal button{
        
        margin-right: 4%; /*Fazer Margin com "%" deixa o layout mais proporcional ao tamanho de tela*/  
        background: var(--azul-dnc);
        border: 0px;
        

        height: 40px;
        width: 80px;

        font-family: var(--fonte-padrao);
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        color: #FFFFFF;

        box-shadow: 3px 2px 4px  rgba(12, 112, 242, 0.25);
        /*
        rgba
        r = red
        g = green
        b = blue
        a = alpha/transparência, sendo 1 =100% e 0 = 0% 
        */

        cursor: pointer;
    }

    /* Seção Principal do Site*/

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center ;
        
        
        margin-top: 100px;
        margin-bottom: 100px;
    }

        header{
            color: white;
            font-family: var(--fonte-padrao);
        
        }

        header h1{
            font-size: 80px;
            font-weight: 800;
            text-transform: uppercase;
            text-align: center;

            margin-bottom: 20px;
        }
        header h2{
            text-align: center;
            font-size: 40px;
            font-weight: 700;

            margin-bottom: 100px;
        }
        header .invert{
            background-color: black;
            font-weight: bold;
            padding: 5px;
        }

        /* Formulario */

        form {
            color: white;
            font-family: var(--fonte-padrao);
            font-size: 30px;
            font-weight: 600;
            width: 600px;
        }
        
        .form-group{
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        form input{
            border-radius: 10px;
            height: 30px;
            border: 0px;

            font-size: 20px;
            padding: 10px;
            background-color: rgba(255, 255, 255, 0.9);
        }

        form label{
            margin: 10px 0px 10px 0px;
        }
            
        form input::placeholder{
            color: rgba(57, 57, 57, 0.5);
        }

        .checkboxItens label{
            font-size: 25px;
        }

        .checkboxItens{
            display: flex;
            justify-content: space-around;
            align-items: center;
            
        }

        input[type="checkbox"]{
            transform: scale(1.7)
        }

        input[type="submit"]{
            background-color: rgba(12, 112, 242, 0.9);
           width: 100%;
           height: 56px;
           
           font-size: 32px;
           font-weight: 600;
           color: white;
           
           margin-top: 50px;

           box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25);
           border-radius: 10px;
        }

        /* Footer */

        footer{
            width: 100%;
            background-color: var(--azul-dnc);
       }

       footer .linha1{
        display: flex;
        justify-content: space-around;
        align-items: center;
       }

       footer ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
       }

       footer nav{
        display: flex;
        flex-direction: column;
        align-items:center;

        height: 330px;
       }

       footer h5{
        text-align: center;
        color: white;
        font-weight: 800;
        font-size: 18px;
        font-family: var(--fonte-padrao);

        background-color: var(--preto-dnc) ;
        border-radius: 10px;

        padding: 10px;
        margin-bottom: 15px ;
       }

       footer ul li {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        font-family: var(--fonte-padrao);

        margin: 20px 0px 20px 0px;
       }

       footer ul li a{
        color: white;
        text-decoration: none;
       }

       footer ul li a:hover{
        color: var(--cinza-hover);
       }

       footer .endereco {
        font-weight: 600;
        font-size: 18px;
        font-family: var(--fonte-padrao);
        color: white;
        text-align: center;
        width: 30%;
       }

       footer .linha2{
        height: 40px;
        display: flex;
        justify-content: center;
        margin:0px;
        padding: 10px;
        
       }

       footer .linha2 a{
        font-family: var(--fonte-padrao);
        font-size: 18px;
        font-weight: 600;
        color: #FFFFFF;
        text-decoration: none;
        padding: 5px;

       }

      footer .linha2 a:first-child{
        border-right: 2px solid white;
      }

       footer .linha2 a:hover{
        color: var(--cinza-hover);
       }

@media only screen and (max-width: 600px){
 
    #principal{
        flex-direction: column;
        height: auto;
    }

    /* Menu */

    #menu{
        flex-direction: column;
        width: 100%;
        margin: 0px;
    }

    #menu a{
        display: flex;
        align-items: center;
        height: 45px;
    }

    #principal button{
        width: 100%;
        margin: 0px;
    }

    /* Section */

    section h1{
        font-size: 38px ;

    }

    section h2{
        font-size: 28px;
        padding: 0px 15px 0px 15px; 
    }

    form{
        width:  95%;
        font-size: 25px;
    }

    .checkboxItens label{
        font-size: 15px ;
    }
}